<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
<li>Java</li>
</ol>

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular libraries for Data Science</li>
    <li>Evaluate algebraic expressions</li>
    <li>Convert mins to hrs</li>
</ul>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>numpy</li>
    <li>scipy</li>
    <li>matplotlib</li>
    <li>seaborn</li>
    <li>keras</li>
</ol>

<table>
  <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jupyter Notebook</td>
    </tr>
    <tr>
      <td>Apache Spark</td>
    </tr>
    <tr>
      <td>TensorFlow</td>
    </tr>
  </tbody>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

expression1 = 5 + 3 * 2
expression2 = (15 / (7 - (1 + 1))) * 3 - (2 + (1 + 1))

result1 = expression1
result2 = expression2

print(f"5 + 3 * 2 = {result1}")
print(f"(15 / (7 - (1 + 1))) * 3 - (2 + (1 + 1)) = {result2}")

In [6]:
expression1 = 5 + 3 * 2
expression2 = (15 / (7 - (1 + 1))) * 3 - (2 + (1 + 1))

result1 = expression1
result2 = expression2

print(f"5 + 3 * 2 = {result1}")
print(f"(15 / (7 - (1 + 1))) * 3 - (2 + (1 + 1)) = {result2}")

5 + 3 * 2 = 11
(15 / (7 - (1 + 1))) * 3 - (2 + (1 + 1)) = 5.0

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
mins = 200
hrs = mins / 60
hrs

3.3333333333333335

<h1>Author</h1>
Nisarg Rathod